@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Project for develop myself for contact <a href=https://www.linkedin.com/in/exocomfix/>my LinkedIn</a> <br/> E-mail : oozturkks@gmail.com.</p>
</div>
